#App
APP_PORT=3000
APP_ENV=local
NODE_ENV=local

#DB
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=postgres
DATABASE_PASSWORD=password
DATABASE_NAME=alert_bot

#Redis
REDIS_URL=redis://localhost:6379
#REDIS_USERNAME=redis
#REDIS_PASSWORD=redis

#Telegram
BOT_TOKEN=your_bot_token
PUBLIC_ALERT_GROUP_URL=public_alert_group_url

